body {
    color: white;
    width: 100vw;
    height: 100vh;
    background: #edebdd;
    font-family: 'Redressed', cursive;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

form {
    background: rgb(228, 152, 77);
    width: 50%;
    padding: 30px;
    border-radius: 30px;
}

h1 {
    color: maroon;
}

.fore-group{
    width: 500px;
    height: 35px;
}

.form-mua{
    width: 300px;
    height: 35px;
}

input {
    margin-bottom: 10px;
}

.but{
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    margin-top: 10px;
    height:  30px;
    width: 200px;
    background: #25223b;
    color: white;
    border-radius: 20px;
}

textarea{
    width: 500px;
}